body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:435px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:35px;
  top:27px;
  width:400px;
  height:820px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:820px;
}
#u1 {
  position:absolute;
  left:2px;
  top:402px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:680px;
  width:74px;
  height:32px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:315px;
  top:680px;
  width:75px;
  height:32px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:156px;
  top:680px;
  width:84px;
  height:32px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:231px;
  top:680px;
  width:84px;
  height:32px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:81px;
  top:148px;
  width:310px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:81px;
  top:188px;
  width:310px;
  height:37px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:37px;
}
#u13 {
  position:absolute;
  left:2px;
  top:11px;
  width:306px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:92px;
  top:240px;
  width:50px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:148px;
  top:243px;
  width:27px;
  height:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:148px;
  top:266px;
  width:206px;
  height:15px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:345px;
  top:243px;
  width:26px;
  height:15px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:92px;
  top:315px;
  width:50px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:148px;
  top:318px;
  width:39px;
  height:15px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:148px;
  top:341px;
  width:129px;
  height:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:345px;
  top:318px;
  width:33px;
  height:15px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:88px;
  top:235px;
  width:290px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
