body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:35px;
  top:27px;
  width:400px;
  height:820px;
  color:#1E1E1E;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:820px;
}
#u1 {
  position:absolute;
  left:2px;
  top:402px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:155px;
  width:70px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:79px;
  top:190px;
  width:320px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u4 {
  position:absolute;
  left:205px;
  top:165px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:96px;
  top:210px;
  width:214px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:78px;
  top:237px;
  width:320px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u9 {
  position:absolute;
  left:96px;
  top:257px;
  width:294px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:43px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:78px;
  top:302px;
  width:320px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u12 {
  position:absolute;
  left:95px;
  top:318px;
  width:178px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:77px;
  top:345px;
  width:320px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u15 {
  position:absolute;
  left:95px;
  top:365px;
  width:182px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:77px;
  top:392px;
  width:320px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u18 {
  position:absolute;
  left:95px;
  top:412px;
  width:49px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:77px;
  top:439px;
  width:320px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u21 {
  position:absolute;
  left:80px;
  top:680px;
  width:74px;
  height:32px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:315px;
  top:680px;
  width:75px;
  height:32px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:156px;
  top:680px;
  width:84px;
  height:32px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:231px;
  top:680px;
  width:84px;
  height:32px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:95px;
  top:459px;
  width:118px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:77px;
  top:486px;
  width:320px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u32 {
  position:absolute;
  left:177px;
  top:523px;
  width:100px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33 {
  position:absolute;
  left:154px;
  top:413px;
  width:55px;
  height:15px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:209px;
  top:416px;
  width:316px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:299px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:316px;
  height:1px;
}
#u36 {
  position:absolute;
  left:516px;
  top:397px;
  width:155px;
  height:40px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:151px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:780px;
  top:716px;
  width:74px;
  height:32px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1015px;
  top:716px;
  width:75px;
  height:32px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:856px;
  top:716px;
  width:84px;
  height:32px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:931px;
  top:716px;
  width:84px;
  height:32px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
}
#u45 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
