body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:435px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:35px;
  top:27px;
  width:400px;
  height:820px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:820px;
}
#u1 {
  position:absolute;
  left:2px;
  top:402px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:155px;
  width:70px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:79px;
  top:190px;
  width:320px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u4 {
  position:absolute;
  left:205px;
  top:165px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:80px;
  top:229px;
  width:320px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u7 {
  position:absolute;
  left:98px;
  top:206px;
  width:118px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:80px;
  top:272px;
  width:320px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u10 {
  position:absolute;
  left:98px;
  top:249px;
  width:131px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:75px;
  top:315px;
  width:320px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u13 {
  position:absolute;
  left:93px;
  top:292px;
  width:118px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:75px;
  top:358px;
  width:320px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u16 {
  position:absolute;
  left:93px;
  top:335px;
  width:131px;
  height:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:364px;
  top:205px;
  width:32px;
  height:22px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:361px;
  top:244px;
  width:32px;
  height:22px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:362px;
  top:291px;
  width:32px;
  height:22px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:360px;
  top:335px;
  width:32px;
  height:22px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:80px;
  top:680px;
  width:74px;
  height:32px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:315px;
  top:680px;
  width:75px;
  height:32px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:156px;
  top:680px;
  width:84px;
  height:32px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:231px;
  top:680px;
  width:84px;
  height:32px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
