body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:436px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:36px;
  top:27px;
  width:400px;
  height:820px;
  color:#1E1E1E;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:820px;
}
#u1 {
  position:absolute;
  left:2px;
  top:402px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:155px;
  width:70px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:79px;
  top:190px;
  width:320px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u4 {
  position:absolute;
  left:205px;
  top:165px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:96px;
  top:288px;
  width:214px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:78px;
  top:315px;
  width:320px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u9 {
  position:absolute;
  left:96px;
  top:335px;
  width:182px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:78px;
  top:362px;
  width:320px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u12 {
  position:absolute;
  left:350px;
  top:336px;
  width:32px;
  height:22px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:95px;
  top:378px;
  width:134px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:77px;
  top:405px;
  width:320px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u17 {
  position:absolute;
  left:95px;
  top:425px;
  width:238px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:22px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:77px;
  top:452px;
  width:320px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u20 {
  position:absolute;
  left:77px;
  top:499px;
  width:320px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u21 {
  position:absolute;
  left:95px;
  top:470px;
  width:238px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:22px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:77px;
  top:538px;
  width:320px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u24 {
  position:absolute;
  left:95px;
  top:509px;
  width:118px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:77px;
  top:577px;
  width:320px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u27 {
  position:absolute;
  left:95px;
  top:548px;
  width:209px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:95px;
  top:587px;
  width:115px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:343px;
  top:167px;
  width:49px;
  height:24px;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:80px;
  top:680px;
  width:74px;
  height:32px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:315px;
  top:680px;
  width:75px;
  height:32px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:156px;
  top:680px;
  width:84px;
  height:32px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:231px;
  top:680px;
  width:84px;
  height:32px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:80px;
  top:255px;
  width:320px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u42 {
  position:absolute;
  left:252px;
  top:171px;
  width:81px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:95px;
  top:609px;
  width:115px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:95px;
  top:631px;
  width:115px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
