body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:35px;
  top:27px;
  width:400px;
  height:820px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:820px;
}
#u1 {
  position:absolute;
  left:2px;
  top:402px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:202px;
  top:165px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:80px;
  top:194px;
  width:310px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:293px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:310px;
  height:1px;
}
#u5 {
  position:absolute;
  left:80px;
  top:311px;
  width:310px;
  height:40px;
  text-align:left;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:80px;
  top:680px;
  width:74px;
  height:32px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:315px;
  top:680px;
  width:75px;
  height:32px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:156px;
  top:680px;
  width:84px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:231px;
  top:680px;
  width:84px;
  height:32px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:85px;
  top:206px;
  width:52px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:80px;
  top:231px;
  width:310px;
  height:41px;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:41px;
}
#u18 {
  position:absolute;
  left:2px;
  top:13px;
  width:306px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:80px;
  top:271px;
  width:310px;
  height:40px;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:391px;
  top:208px;
  width:200px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u22 {
  position:absolute;
  left:590px;
  top:180px;
  width:200px;
  height:100px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u23 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
