body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:835px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:181px;
  top:15px;
  width:400px;
  height:820px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:820px;
}
#u1 {
  position:absolute;
  left:2px;
  top:402px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:320px;
  top:362px;
  width:120px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:366px;
  top:145px;
  width:52px;
  height:15px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:255px;
  top:177px;
  width:71px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:330px;
  top:176px;
  width:176px;
  height:30px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:255px;
  top:215px;
  width:71px;
  height:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:334px;
  top:216px;
  width:176px;
  height:30px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:403px;
  top:256px;
  width:80px;
  height:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:302px;
  top:259px;
  width:80px;
  height:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:550px;
  top:277px;
  width:85px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:68px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:85px;
  height:1px;
}
#u19 {
  position:absolute;
  left:635px;
  top:250px;
  width:200px;
  height:100px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u20 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
