body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:435px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:35px;
  top:27px;
  width:400px;
  height:820px;
  color:#1E1E1E;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:820px;
}
#u1 {
  position:absolute;
  left:2px;
  top:402px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:155px;
  width:70px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:79px;
  top:190px;
  width:320px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u4 {
  position:absolute;
  left:205px;
  top:165px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:80px;
  top:245px;
  width:320px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u7 {
  position:absolute;
  left:98px;
  top:203px;
  width:193px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:98px;
  top:230px;
  width:39px;
  height:15px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:318px;
  top:230px;
  width:52px;
  height:15px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:78px;
  top:302px;
  width:320px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u14 {
  position:absolute;
  left:96px;
  top:260px;
  width:193px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:96px;
  top:287px;
  width:27px;
  height:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:316px;
  top:287px;
  width:52px;
  height:15px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:80px;
  top:680px;
  width:74px;
  height:32px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:315px;
  top:680px;
  width:75px;
  height:32px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:156px;
  top:680px;
  width:84px;
  height:32px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:231px;
  top:680px;
  width:84px;
  height:32px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:256px;
  top:230px;
  width:39px;
  height:15px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:257px;
  top:286px;
  width:39px;
  height:15px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
